<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>CRUD-Go</title>
</head>
<body>
    <form >
        <input type="text" placeholder="Task name">
        <button type="submit"> Submit </button>
    </form>

    
        <ul>
            {{ range . }}
            <li>
                {{ .ID }} - {{ .Name }}
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </li>
            {{ end }}
        </ul>
    

    <script src="public/main.js"></script>
    <script src="public/htmx.min.js"></script>
</body>
</html>